$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$border-radius-base:        0px;
$border-radius-large:       0px;
$border-radius-small:       0px;

$tablet: "only screen and (max-width:700px)";
$mobile: "only screen and (max-width:500px)";
$logod: "only screen and (max-width:1050px)";

$particles-background-color: #03A9F4;

$dl-button-font-size: 3rem;
$dl-button-border-width: 5px;
$dl-button-bottom: 20%;
$dl-button-right: 20%;
$dl-button-padding-v: 10px;
$dl-button-padding-h: 20px;

$navbar-font-size: 20px;
$slider-font-size: 7rem;
$slider-height-max: calc(100vh - 50px);
$slider-height-small: 500px;
